thead { font: 100%; }

th,td { vertical-align: top;
        padding-bottom: 5;
        padding-top: 5;
        padding-left: 20;
        padding-right: 20; }

a:link {
    color: Darkblue;
}

html
{
    font: 16px Georgia, "Times New Roman", Times, serif;
    line-height: 1.6;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    padding: 30px; }
}

div.header
{
    font-style: normal;
    font-weight: normal;
    font-family: "Lucida Grande", Verdana, Arial;
    margin: 5;
    padding: 0;
}

div.content
{
    margin: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15em;
}

div.content h1 {
    font: bold 20pt "Lucida Grande", Verdana, Arial, sans-serif;
}

div.content h2,h3,h4,h5 {
	font: bold large "Lucida Grande", Verdana, Arial, sans-serif;
}


div.navigation
{
    font-family:  "Lucida Grande", Verdana, Arial;
    font-size: small;
    background-color: lightgray;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 15em;
    padding: 1em
}

div.navigation h1,h2,h3 {
	font:  bold large "Lucida Grande", Verdana, Arial, sans-serif;
}

div.navigation h4 {
	font:  12pt "Lucida Grande", Verdana, Arial, sans-serif;
}


div.navigation h5 {
	font:  12pt "Lucida Grande", Verdana, Arial, sans-serif;
}


div.navigation td
{
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    text-align: center;
    padding: 20px;
    font-variant: normal;
}

ul,ol,li {
	float: none;
	margin-left: 2px;
	padding: 5px;
}

ul,ol {
	margin-left: 25px;
}

